    <footer class="page-footer center-on-small-only bg-red">
        <!--Footer links-->
        <hr>
        <!--Call to action-->
        <div class="call-to-action">
            <h4 class="mb-5">Material Design for Bootstrap</h4>
            <ul>
                <li>
                    <a target="_blank" href="https://mdbootstrap.com/getting-started/" class="btn btn-light-blue waves-effect waves-light" rel="nofollow">Sign up!</a>
                </li>
                <li>
                    <a target="_blank" href="https://mdbootstrap.com/material-design-for-bootstrap/" class="btn btn-primary waves-effect waves-light"
                        rel="nofollow">Learn more</a>
                </li>
            </ul>
        </div>
        <!--/.Call to action-->

        <!--Copyright-->
        <div class="footer-copyright">
            <div class="containter-fluid">
                © 2015 Copyright:
                <a href="https://www.MDBootstrap.com"> MDBootstrap.com </a>
            </div>
        </div>
        <!--/.Copyright-->
    </footer>