 /* TEMPLATE STYLES */

main {
    margin-top: 3rem;
}

main .card {
    margin-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
    .read-more {
        text-align: center;
    }
}

footer.page-footer {
    background-color: #0f6256;
    margin-top: 2rem;
}

.navbar .btn-group .dropdown-menu a:hover {
    color: #000 !important;
}

.navbar .btn-group .dropdown-menu a:active {
    color: #fff !important;
}

.primary-text {
    color: #4285F4;
}